table {
    width: 100%;
    border-collapse: collapse; 
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    overflow: hidden;
  
    font-family: sans-serif;
    font-size: 16px;
    color: #333; 
  }
  
   th,
   td {
    padding: 10px 20px; 
    border: none; 
    text-align: left;
  
    background-color: #f5f5f5;
    &:hover {
      background-color: #eee;
    }
  }
  
  thead th {
    background-color: #e0e0e0;
    font-weight: bold; 
    text-transform: uppercase; 
  }
  