.form-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin: 10px auto;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
}

.form-input {
  padding: 10px 20px;
  border: none; 
  font-size: 16px;

  background-color: #f5f5f5;
  color: #333;
  outline: none;
  cursor: pointer;
}

.form-input[type="file"] {
  display: none;
}

.form-button {
  padding: 10px 20px;
  border: none; 
  font-size: 16px; 
  background-color: #38a3a5;
  color: #fff; 
  cursor: pointer; 
  transition: all 0.2s ease-in-out; 
}

.form-button:hover {
  background-color: #2980b9;
}